:root {
    --light-yellow: #EDFF71;
    --white-color: white;
    --light-blue: #A7C6DA;
    --dark-blue: #314959;
    --bright-orange: #F95738;
    --light-orange: #F4D35E;
    --dark: #373737;
    --light-green: #F4FFDC;
}